# General build artifacts
build/
*.exe
*.o
*.lst
*.log
*.a
*.lib
*.dll
*.so

# Certain source files I don't want committed
inet_pton-demo
tcp_server
coredump-demo

# VSCode
.vscode/

# Unit Test
*.txt
*.gcda
*.gcno
*.gcov

# Vim
*.swp
*.swo

# ctags
tags
